<h1>프로젝트 투표</h1>

{% for project in projects %}
    <div>

        {% if project.link %}
            <a href="{{ project.link }}" target="_blank">
                <h3>{{ project.title }}</h3>
            </a>
        {% else %}
            <h3>{{ project.title }}</h3>
        {% endif %}

        <p>{{ project.description }}</p>

        {% if project.image %}
            <a href="{{ project.link }}" target="_blank">
                <img src="{{ project.image.url }}" width="200">
            </a>
        {% endif %}

        <p>투표 수: {{ project.votes }}</p>

        <a href="{% url 'vote' project.id %}">
            <button>투표하기</button>
        </a>

    </div>
    <hr>
{% endfor %}